* {
  margin: 0;
  padding: 0;
  transition: all 1s ease-in-out;
}

body {
  background-color: white;
  background-image: radial-gradient(rgb(130, 218, 90) 1px, transparent 0);
  background-size: 40px 40px;

  background-position: 0 0, 20px 20px;
  color: white;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  justify-content: center;
}

html {
  @media (max-height: 800px) {
    font-size: 2vh;
  }
}
